{% extends 'Base.html' %}

{% block page-header %}
<h1>脚本列表</h1>
{% endblock %}

{% block table-responsive %}
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>脚本名称</th>
        <th>运行次数</th>
        <th>当期状态</th>
        <th>最近执行时间</th>
        <th>所属文件</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for testScrip in testScriptList %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ testScrip.scriptName }}</td>
        <td>{{ testScrip.runTimes }}</td>
        <td>{{ testScrip.status }}</td>
        <td>{{ testScrip.lastRunTime }}</td>
        <td>{{ testScrip.testFile }}</td>
        <td>
            <div class="form-input">
                <form action="{% url 'TestScripts:ScriptRun' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="{{ scriptRunForm.scriptId.html_name }}" value="{{ testScrip.id }}"
                           id="{{ scriptRunForm.scriptId.id_for_label }}">
                    <input type="submit" class="btn btn-primary" value="执行">
                </form>
            </div>
            <div class="form-input">
                <form action="{% url 'TestScripts:ScriptDelete' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="{{ scriptDeleteForm.scriptId.html_name }}" value="{{ testScrip.id }}"
                           id="{{ scriptDeleteForm.scriptId.id_for_label }}">
                    <input type="submit" class="btn btn-primary" value="删除">
                </form>
            </div>
            <div class="form-input">
                <a class="btn btn-primary" href="{% url 'TestScripts:ReportList' testScrip.id %}">报告</a>
            </div>
        </td>
        {% endfor %}
    </tr>
    </tbody>
</table>
<div class="pagination">
    <nav>
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="">
                <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria_hidden="true">&laquo;</span></a>
            </li>
            {% endif %}

            {% for page_num in page_obj.paginator.page_range %}
            {% if page_num == page_obj.number %}
            <li class="active"><a href="?page={{ page_num }}">{{page_num}}</a></li>
            {% else %}
            <li class=""><a href="?page={{ page_num }}">{{page_num}}</a></li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="">
                <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria_hidden="true">&raquo;</span></a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock %}