{% extends 'Base.html' %}

{% block page-header %}
<h1>套件列表
    <a class="btn btn-primary pull-right" href="{% url 'TestScripts:SuiteCreate' %}">新建</a>
</h1>

{% endblock %}

{% block table-responsive %}
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>套件名称</th>
        <th>运行次数</th>
        <th>当期状态</th>
        <th>最近执行时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for testSuite in testSuiteList %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ testSuite.suiteName }}</td>
        <td>{{ testSuite.runTimes }}</td>
        <td>{{ testSuite.status }}</td>
        <td>{{ testSuite.lastRunTime }}</td>
        <td>
            <div class="form-input">
                <a class="btn btn-primary" href="{% url 'TestScripts:SuiteUpdate' testSuite.id %}">更新</a>
            </div>
        </td>
        {% endfor %}
    </tr>
    </tbody>
</table>
<div class="pagination">
    <nav>
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="">
                <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria_hidden="true">&laquo;</span></a>
            </li>
            {% endif %}

            {% for page_num in page_obj.paginator.page_range %}
            {% if page_num == page_obj.number %}
            <li class="active"><a href="?page={{ page_num }}">{{page_num}}</a></li>
            {% else %}
            <li class=""><a href="?page={{ page_num }}">{{page_num}}</a></li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="">
                <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria_hidden="true">&raquo;</span></a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock %}